<div>
  <div *ngIf="isCardsVisible === false">
      <div class="schedule__year">English Classes 2018</div>
      <button (click)="generateCards()" class="schedule__groups">{{buttonText}}
          <i *ngIf="isSpinnerVisible" class="fa fa-spinner fa-spin"></i>
      </button>
  </div>

  <div *ngIf="isCardsVisible" class="schedule">
    <div class="schedule__filters filter-box">
        <div class="filter-box__header">
          <b>Filters</b>
        </div>
        <div class="filter-box__item"><hr></div>
        <div class="filter-box__item">
          <label>Teacher:</label>
          <select class="select">
              <option value="0">Select one</option>
              <option value="1">Robert</option>
              <option value="2">Giomara</option>
              <option value="2">Rosario</option>
            </select>
        </div>
        <div class="filter-box__item">
          <label>Class level:</label>
          <select class="select">
              <option value="0">Select one</option>
              <option value="1">3A</option>
              <option value="2">3B</option>
              <option value="2">4A</option>
              <option value="2">4B</option>
              <option value="2">5A</option>
              <option value="2">5B</option>
            </select>
        </div>
        <div class="filter-box__item">
          <label>Schedule:</label>
          <select class="select">
            <option value="0">Select one</option>
            <option value="1">Monday - Wednesday</option>
            <option value="2">Tuesday - Thursday</option>
          </select>
        </div>
        <div class="filter-box__item checkbox-item">
            <input type="checkbox" class="checkbox"/><span>Only Unassigned</span>
        </div>
        <div class="filter-box__buttons filter-box__item">
          <button>Apply</button>
          <button class="button-default">Reset</button>
        </div>
    </div>

    <div class="schedule__list">
      <!--<app-message-box [message]="message" [type]="messageType" [showMessage]="showMessage"></app-message-box>-->
      <ng-container *ngFor="let group of groups">
        <a routerLink="/schedule/{{group.idGroup}}">
        <div class="schedule__card" [ngClass]="{'schedule__card--unassigned': group.teacherName === 'Unassigned'}">
          <div class="schedule__card-content">
            <div class="schedule__card-item">
                <span class="schedule__card-name"><b>{{group.levelName}} - {{group.teacherName}} {{group.teacherLastName}}</b></span>
                <span class="schedule__card-schedule">{{group.scheduleDescription}} {{group.formattedStartHour}} - {{group.formattedEndHour}}</span>
                <span class="schedule__card-availability"><b class="schedule__card__availability">{{group.students}}/10<i class="fa fa-user schedule__card-user"></i></b></span>
            </div>
          </div>
          <div>
            <i class="fa fa-chevron-right"></i>
          </div>
        </div>
        </a>
      </ng-container>
    </div>
  </div>
</div>
