<div class="schedule-detail__container">
  <!--<app-message-box [message]="message" [type]="messageType" [showMessage]="showMessage"></app-message-box>-->
  <div class="schedule-detail" *ngIf="showDetail">
    <div class="schedule-detail__header">
      <div class="schedule-detail__information">
        <b><span>Teacher: {{groupDetail.teacherName}} {{groupDetail.teacherLastName}} | Level: {{groupDetail.levelName}}</span></b>
        <span class="schedule-detail__detail">{{groupDetail.scheduleDescription}} | {{groupDetail.formattedStartHour}} - {{groupDetail.formattedEndHour}}</span>
      </div>

      <span class="schedule-detail__users"><b>{{groupDetail.students}}/10<i class="fa fa-user schedule-detail__availability"></i></b></span>

    </div>
    <div class="schedule-detail__body">

      <div><b>Students:</b></div>
      <ng-container *ngFor="let student of studentsList">
        <div class="schedule-detail__student">
          <span><b>{{student.name}} {{student.lastname}}</b></span>
          <span>
            <span class="schedule-detail__student-transfer"><i><span class="schedule-detail__student-option">Transfer</span></i><i class="fa fa-share"></i></span>
            <span class="schedule-detail__student-remove"><i><span class="schedule-detail__student-option">Remove</span></i><i class="fa fa-times"></i></span>
          </span>
        </div>
      </ng-container>

    </div>
    <div class="schedule-detail__footer">
        <button>Save</button>
        <button class="button-default" routerLink="/schedule">Back</button>
    </div>
  </div>
</div>
