<div class="login-container">
  <div class="login-form" (keypress)="keyPressLogin($event)">
    <div class="login-item">
      <input class="login-item__input input-text" type="text" [(ngModel)]="user.username"/>
      <label for="">Username</label>
    </div>
    <div class="login-item">
      <input class="login-item__input input-text" type="password" [(ngModel)]="user.password"/>
      <label for="">Password</label>
    </div>    
    <div class="login-item">
      <button class="button login-form__button" (click)="login()">Login</button>
    </div>
  </div>
</div>