<div class="schedule__container">
  <!--<app-message-box [message]="message" [type]="messageType" [showMessage]="showMessage"></app-message-box>-->
  <div class="schedule" *ngIf="showDetail">
    <div class="schedule__header">
      <div class="schedule__information">
        <b><span>Teacher: {{groupDetail.teacherName}} {{groupDetail.teacherLastName}} | Level: {{groupDetail.levelName}}</span></b>
        <span class="schedule__detail">{{groupDetail.scheduleDescription}} | {{groupDetail.formattedStartHour}} - {{groupDetail.formattedEndHour}}</span>
      </div>
      
      <span class="schedule__users"><b>{{groupDetail.students}}/10<i class="fa fa-user schedule__availability"></i></b></span>
      
    </div>
    <div class="schedule__body">     

      <div><b>Students:</b></div>
      <ng-container *ngFor="let student of studentsList">
        <div class="schedule__student">
          <span><b>{{student.name}} {{student.lastname}}</b></span>
          <span>
            <span class="schedule__student-transfer"><i><span class="schedule__student-option">Transfer</span></i><i class="fa fa-share"></i></span>
            <span class="schedule__student-remove"><i><span class="schedule__student-option">Remove</span></i><i class="fa fa-times"></i></span>
          </span>
        </div>
      </ng-container>

    </div>
    <div class="schedule__footer">
        <button>Procesar</button>
        <button class="button-default" routerLink="/programacion">Regresar</button>
    </div>
  </div>
</div>