@import '../../styles/helpers/variables.scss';
@import '../../styles/helpers/mixins.scss';

.schedule__container {
    background: url(/assets/imagenes/background-cars.jpeg) no-repeat center center fixed;
    background-size: cover;
    min-height: 38rem;
    @include bp(md){
        min-height: 60rem;
    }
    @include bp(lg){
        min-height: 46rem;
    }
    @include bp(xl){
        min-height: 52rem;
    }
    @include bp(xxl){
        min-height: 55rem;
    }
}

.schedule {    
    border: 2px solid $color-blue;
    margin: 1rem;
    color: $color-white;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    position: relative;
    top: 3rem;   
}

.schedule__header {
    display: flex;
    justify-content: space-between;
    background-color: $color-blue;
    padding: 1rem;
}

.schedule__body {
    background: $color-white;
    color:$color-blue;
    padding: 1rem;
}

.schedule__footer {
    background: $color-blue;
    padding: 0.75rem;

}

.schedule__information {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
}

.schedule__detail {
    text-transform: capitalize;
}

.schedule__users {
    color: $color-orange;
}

.schedule__availability {
    margin-left: 0.5rem;  
}

.schedule__student {
    display: flex;
    justify-content: space-between;
    line-height: 2rem;
    margin: 0.5rem 0 0 1rem;
}

.schedule__student-transfer {
    color: $color-blue;
    margin-right: 1rem;
    cursor: pointer;
}

.schedule__student-remove {
    color: $color-red;
    cursor: pointer;
}

.schedule__student-option {
    display: none;
    @include bp(md){
        display: inline-block;
        margin-right: 0.5rem;
    }
}