<div class="schedule__container">
  <div class="schedule">
    <div class="schedule__header">
      <div class="schedule__information">
        <b><span>4A - Giomarandrea Arcia</span></b>
        <span>Martes - Jueves | 12:00 - 13:00</span>
      </div>
      
      <span class="schedule__users"><b>7/10<i class="fa fa-user schedule__availability"></i></b></span>
      
    </div>
    <div class="schedule__body">
      students list    
    </div>
    <div class="schedule__footer">
        <button>Procesar</button>
        <button routerLink="/programacion">Regresar</button>
    </div>
  </div>
</div>