@import '../../styles/helpers/variables.scss';
@import '../../styles/helpers/mixins.scss';

.programation {
   display: flex;
   flex-flow: column;
   height: 100%; 
   background: url(/assets/imagenes/background-cars.jpeg) no-repeat center center fixed;
   background-size: cover;
   min-height: 37.5rem;
   @include bp(md){    
    min-height: 60rem;   
   }
   @include bp(lg){
    flex-flow: row;
    justify-content: center;
    min-height: 45.5rem;
    padding-left: 18rem;
   }
   @include bp(xl){
    min-height: 51.5rem;
   }
   @include bp(xxl){
    min-height: 55rem;
   }
}

.programation__year {
    padding: 1rem;
    color: $color-white;
    background: $color-blue;
    font-weight: bold;
}

.programation__groups {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}

.programation__filters {
    color: $color-white;
    background: $color-blue;
    text-align: left;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.19);
    @include bp(lg){
        padding: 2rem;
        border-radius: 0.5rem;
        position: fixed;
        left: 1rem;
        width: 15rem;
        margin-top: 1rem;
        min-height: 25rem;
    }
}

.programation__filters.filter-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.filter-box__item {
    display: none;
    @include bp(lg){
        display: block;
        margin-bottom: 1rem;
    }
}
.filter-box__item.checkbox-item{
    display: none;
    @include bp(lg){
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
.input-text{
    border-bottom: 1px solid $color-white;
    background: 0;
    &:focus{
        outline: none;
    }
}
.select{
    background: 0;
    width: 210px;
    border-bottom: 1px solid;
    margin-top: 10px;
    border-radius: .5rem;
    &:focus{
        outline: none;
    }
}
label{
    display: block;
}
option{
    color: $color-black;
}
.filter-box__buttons{
    display: none;
    @include bp(lg){
        padding-top: 2rem;
        margin-top: auto;
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
button{
    width: 100px;
}

.programation__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

.programation__card {
    display: flex;
    flex-direction: row;
    width: 19.5rem;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.5rem;
    min-height: 3.25rem;
    padding: 1rem;
    color: $color-white;
    background-color: $color-blue;
    margin-bottom: 1rem;
    cursor: pointer;
    &:hover {
        background-color: $color-alt-orange;
        .programation__card__availability {
            color: $color-blue;
        }
    }    
    @include bp(md) {
        width: 40rem;
        margin-bottom: 1rem;
    }
    @include bp(lg){
        width: 40rem;
    }
    @include bp(xl){
        width: 50rem;
    }
}

.programation__card--unassigned {
    background-color: $color-alt-red;
}

.programation__card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 1rem;
}

.programation__card-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 4.5rem;
    width: 100%;
    @include bp(md){
        flex-direction: row;
        min-height: 3rem;
        align-items: center;
        flex: 1 1 auto;
        min-height: 3.25rem;
        //justify-content: space-around;
    }
}

.programation__card-user {
    margin-left: 0.5rem;
}

.programation__card-item--right {
    align-items: flex-end;
    @include bp(md){
        align-items: center;
        flex-direction: row-reverse;
    }
}

.programation__card__availability {
    color: $color-orange;
}

.programation__card-name {
    width: 100%;
    @include bp(md){
        width: 40%;
    }
}

.programation__card-schedule {
    width: 100%;
    text-transform: capitalize;
    @include bp(md){
        width: 55%;
    }
    @include bp(lg){
        width: 40%;
    }
}

.programation__card-availability {
    width: 100%;
    @include bp(md){
        width: 14%;
    }
    @include bp(lg){
        width: 11%;
    }
}