<div class="teacher-pre-inscription__header">Welcome <b>Robert</b>. <br/>Please select the schedules in which you can teach english in our offices.</div>
<div class="teacher-pre-inscription__body">
  <div *ngIf="showMessage" class="teacher-pre-inscription__alert">
    <app-message-box [message]="message" [type]="messageType" [showMessage]="showMessage"></app-message-box>
  </div>
  <div class="teacher-pre-inscription__content" *ngIf="!showMessage">
    <div class="teacher-pre-inscription__information">
      <div class="teacher-pre-inscription__schedule">
        <b>Select Schedule:</b>
        <div>
            <input type="checkbox">
            <span>Monday - Wednesday</span>
            <span>08:00 - 09:30</span>            
        </div>
        <div>
            <input type="checkbox">
            <span>Monday - Wednesday</span>
            <span>12:00 - 13:30</span>            
        </div>
        <div>            
            <input type="checkbox">
            <span>Monday - Wednesday</span>
            <span>17:00 - 18:30</span>            
        </div>
        <div>
            <input type="checkbox">
            <span>Tuesday - Thursday</span>
            <span>08:00 - 09:30</span>            
        </div>
        <div>
            <input type="checkbox">
            <span>Tuesday - Thursday</span>
            <span>12:00 - 13:30</span>            
        </div>
        <div>
            <input type="checkbox">
            <span>Tuesday - Thursday</span>
            <span>17:00 - 18:30</span>            
        </div>
      </div>

      <div class="teacher-pre-inscription__level">
        <b>Select your level preferences</b>
        <div class="teacher-pre-inscription__dropdown">
          <span (click)="toogleMenuLevel()">name</span>
          <span class="teacher-pre-inscription__triangule"></span>          
        </div>
        <ul class="teacher-pre-inscription__list" *ngIf="isMenuListVisible">
          <li value="2">2</li>
          <li value="3A">3A</li>
          <li value="3B">3B</li>
          <li value="4A">4A</li>
          <li value="4B">4B</li>
          <li value="5">5</li>
          <li value="6">6</li>
        </ul>
      </div>

    </div>
    <div>
        <button (click)="save()">Save</button>
        <button class="button-default">Reset</button>
    </div>
  </div>
</div>