@import '../../styles/helpers/variables.scss';
@import '../../styles/helpers/mixins.scss';

.teacher-pre-inscription__header {
    color: $color-white;
    line-height: 1.5rem;
    background: $color-blue;
    position: relative;
    z-index: 10;
    text-align: left;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.19);
}

.teacher-pre-inscription__body {
    display: flex;
    height: calc(100% - 105px);    
    background: url(/assets/imagenes/background-cars.jpeg) no-repeat center center fixed;
    background-size: cover;
    position: relative;
    @include bp(md) {
        height: calc(100% - 80px);
    }
}

.teacher-pre-inscription__alert {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.teacher-pre-inscription__content {
    max-width: 700px;
    background: white;
    border-radius: 0.5rem;
    padding: 1rem;
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;
    box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.19);
    margin: 0 0.25rem;
    @include bp(md){
        margin: 0 auto;
    }
}

.teacher-pre-inscription__information {
    display: flex;
    flex-direction: column;
    @include bp(md){
        flex-direction: row;
    }
}

.teacher-pre-inscription__schedule {
    margin-bottom: 1rem;
    flex: 1 1 auto;
}

.teacher-pre-inscription__schedule-item {
    margin: 1rem 0.5rem;
}

.teacher-pre-inscription__level {
    flex: 1 1 auto;
}

.teacher-pre-inscription__dropdown {
    background-color: $color-blue;
    color: $color-white;
    border-radius: 0.5rem;
    position: relative;
    line-height: 1.5rem;
    width: 5rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    margin-top: 1rem;
}

.teacher-pre-inscription__triangule {    
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid $color-white;
    position: absolute;
    right: 1rem;
    top: 0.7rem;
}

.teacher-pre-inscription__list {
    border: 1px solid $color-blue;
    color: $color-blue;
    border-radius: 0.5rem;
    position: relative;
    line-height: 1.5rem;
    width: 5rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.teacher-pre-inscription__item {
    margin-left: 1rem;
}