<div>
  <div class="locacition__title">
    Select your location
  </div>

  <div class="location__content">
    <!-- 1 - 2 -->
    <div class="location__card">
      <div class="location__argentina-ba"></div>
      <div class="location__argentina-mdz-centro"></div>
    </div>

    <!-- 3 - 4 -->
    <div class="location__card">
      <div class="location__argentina-mdz-chacras"></div>
      <div class="location__colombia"></div>
    </div>

    <!-- 5 -->
    <div class="  ">
        <div class="location__peru"></div>
    </div>


  </div>
</div>