$font-family: Open Sans, sans-serif;



$color-orange: #FF7F00;
$color-alt-orange: rgb(248, 153, 57);
$color-blue: rgba(19, 110, 158, 0.86);
$color-white: #FFF;
$color-gray : #989999;
$color-lightgray: #ccc;
$color-alt-lightgray: rgb(235, 235, 235);
$color-black : #333333;

$color-red: rgb(231,76,60);
$color-green : #3c763d;
$color-bckg-green : #dff0d8;
$color-error : #d32727;
$color-bckg-error : #f2dede;
$color-alt-red : rgba(191, 0, 0, 0.8);