<div class="teacher-edit-schedule__header">
  <div>
    <b><span>{{teacherName}}</span></b>
  </div>
</div>

<div class="teacher-edit-schedule__content">
  <div class="teacher-edit-schedule__body">

    <div class="teacher-edit-schedule__left-section">

      <!-- dropdown schedule -->
      <div class="english-dropdown">
        <div class="english-dropdown__header">
          <span>Select schedule</span>
          <span class="english-dropdown__icon"></span>
        </div>
        <ul>
          <li>Lunes - Martes 08:00 - 10:00</li>
          <li>Miercoles - Jueves 08:00 - 10:00</li>
          <li>Lunes - Viernes 08:00 - 10:00</li>
        </ul>
      </div>

    </div>

    <div class="teacher-edit-schedule__right-section">


      <!-- level dropdown -->
      <div class="english-dropdown">
          <div class="english-dropdown__header">
              <span>Select Level</span>
              <span class="english-dropdown__icon"></span>
            </div>
          <ul>
            <li>2A</li>
            <li>3A</li>
            <li>3B</li>
            <li>4A</li>
            <li>4B</li>
          </ul>
        </div>

      <!-- + icon -->
      <div>
        <i class="fa fa-plus teacher-edit-schedule-plus" aria-hidden="true"></i>
      </div>

  </div>
</div>
