<div class="teacher-edit-schedule__header">
  <div>
    <b><span>Teacher: {{teacher.name}} {{teacher.lastName}}</span></b>
  </div>
</div>

<div class="teacher-edit-schedule__content">
  <div class="teacher-edit-schedule__body">

    <div class="teacher-edit-schedule__left-section">

      <!-- dropdown schedule -->
      <div class="english-dropdown">
        <div class="english-dropdown__header">
          <span>Select schedule</span>
          <span class="english-dropdown__icon"></span>
        </div>
        <ul>
            <ng-container *ngFor="let schedule of scheduleList">
              <li>{{schedule.name}}</li>
            </ng-container>
        </ul>
      </div>
    </div>

    <div class="teacher-edit-schedule__right-section">

      <!-- level dropdown -->
      <div class="english-dropdown">
          <div class="english-dropdown__header">
              <span>Select Level</span>
              <span class="english-dropdown__icon"></span>
            </div>
          <ul>
            <li>2A</li>
            <li>3A</li>
            <li>3B</li>
            <li>4A</li>
            <li>4B</li>
          </ul>
        </div>

      <!-- + icon -->
      <div>
        <i class="fa fa-plus teacher-edit-schedule-plus" aria-hidden="true"></i>
      </div>

  </div>
</div>
