<div class="menu">
  <img src="../../assets/imagenes/Belatrix.png" alt="belatrixLogo">
  <i class="fa fa-bars menu__bar" (click)="toogleMobileMenu()"></i>
  <ng-container *ngIf="userLogged">
    <ul class="menu__list--desktop">
      <li><a class="menu__item" routerLink="/home">Home</a></li>
      <ng-container *ngIf="isAdmin">                
        <li><a class="menu__item" routerLink="/teacher-schedule/list">Teacher-Schedule</a></li>
        <li><a class="menu__item" routerLink="/schedule">Schedule</a></li>
        <li><a class="menu__item" routerLink="/assistance">Assistance</a></li>
        <li><a class="menu__item" routerLink="/history">History</a></li>
      </ng-container>
      <ng-container *ngIf="isStudent">
        <li><a class="menu__item" routerLink="/pre-inscription/student">Pre-Inscription</a></li>
      </ng-container>
      <ng-container *ngIf="isTeacher">
        <li><a class="menu__item" routerLink="/pre-inscription/teacher">Pre-Inscription</a></li>
      </ng-container>
      <li><a class="menu__item" (click)="logout()">Logout</a></li>
    </ul>
    <ul class="menu__list" [@navbarState]="state">
      <li (click)="navigate('/home')"><a>Home</a></li>
      <ng-container *ngIf="isAdmin">          
        <li (click)="navigate('/teacher-schedule/list')"><a>Teacher-Schedule</a></li>
        <li (click)="navigate('/schedule')"><a>Schedule</a></li>
        <li (click)="navigate('/assistance')"><a >Assistance</a></li>
        <li (click)="navigate('/history')"><a >History</a></li>
      </ng-container>
      <ng-container *ngIf="isStudent">
        <li (click)="navigate('/pre-inscription/student')"><a>Pre-Inscription</a></li>
      </ng-container>
      <ng-container *ngIf="isTeacher">
        <li (click)="navigate('/pre-inscription/teacher')"><a>Pre-Inscription</a></li>
      </ng-container>
      <li (click)="logout()"><a>Logout</a></li>
    </ul>
  </ng-container>
</div>
