<div >
  <div class="menu"> 
    <img src="../../assets/imagenes/Belatrix.png" alt="belatrixLogo">
    <i class="fa fa-bars menu__bar" (click)="showMobileMenu()"></i>
    <ul class="menu__list--desktop">
    <li><a class="menu__item" routerLink="/home">Home</a></li>
    <li><a class="menu__item" routerLink="/programacion">Programación</a></li>
    <li><a class="menu__item">Asistencia</a></li>
    <li><a class="menu__item">Histórico</a></li>
  </ul>
  </div>
  <ul class="menu__list" *ngIf="isMenuVisible">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/programacion">Programación</a></li>
    <li><a >Asistencia</a></li>
    <li><a >Histórico</a></li>
  </ul>
</div>