@import '../helpers/variables.scss';
@import '../helpers/mixins.scss';

html, body {
    font-family: $font-family;
    font-size: 16px;
    width: 100%;
    height: 100%;
}

a {    
    color: $color-white;
    &:hover {
        color: $color-orange;  
    }    
    @include bp(md){
        color: $color-gray;
        text-decoration: none;
        position: relative;
        cursor: pointer;
    }
}

button {
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
    background: $color-orange;
    border: 0;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: $color-white;
    outline: 0;  

    @include bp(md){
        display: inline-block;
        margin-bottom: 0;
        width: 10%;
    }

    &:hover {
        background-color: $color-alt-orange;
    }
}
.button-default{
    background-color: $color-lightgray;
    color: $color-black;
    &:hover {
        background-color: $color-alt-lightgray;
    }
}